Repository resline/dify-plugin-repackaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-quick-tests, validate-github-workflows

python-quick-tests:
  name: Python Quick Tests
  entry: bash -c 'cd dify-plugin-repackaging-web/backend && python -m pytest tests/unit/core tests/unit/services -x -q --tb=short'
  language: system
  pass_filenames: false
  stages:
  - push

validate-github-workflows:
  name: Validate GitHub Workflows
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} sh -c "echo Validating {}... && python -m yaml {} > /dev/null"'
  language: system
  pass_filenames: false

chore: Update badges [skip ci]
  .github/badges/ci-cd.json
  .github/badges/coverage.json
  .github/badges/security.json
  .github/badges/tests.json
  README.md
Due: none

fix: Defer utility imports to prevent initialization error
  dify-plugin-repackaging-web/frontend/src/main.jsx
Due: none

fix: Fix React hook initialization error in App.jsx
  dify-plugin-repackaging-web/frontend/src/App.jsx
Due: none

feat: Major UI/UX improvements for plugin repackaging interface
  dify-plugin-repackaging-web/frontend/UI_IMPROVEMENTS_SUMMARY.md
  dify-plugin-repackaging-web/frontend/package-lock.json
  dify-plugin-repackaging-web/frontend/package.json
  dify-plugin-repackaging-web/frontend/src/App.jsx
  dify-plugin-repackaging-web/frontend/src/components/CompletedFiles.tsx
  dify-plugin-repackaging-web/frontend/src/components/Layout.jsx
  dify-plugin-repackaging-web/frontend/src/components/LogViewer.tsx
  dify-plugin-repackaging-web/frontend/src/components/ProcessingPanel.tsx
  dify-plugin-repackaging-web/frontend/src/components/Sidebar.tsx
  dify-plugin-repackaging-web/frontend/src/stores/appStore.ts
Due: none

fix: Update Node.js version to 20 in all-in-one Dockerfile
  dify-plugin-repackaging-web/Dockerfile.all-in-one
Due: none

feat(marketplace): add advanced plugin search API endpoint
  dify-plugin-repackaging-web/backend/app/services/marketplace.py
Due: python-quick-tests

docs(deployment): add detailed Coolify deployment guide and update related docs
  CLAUDE.md
  COOLIFY_DEPLOYMENT.md
  dify-plugin-repackaging-web/README.md
Due: none

fix(ui): prevent initial search trigger on component mount
  dify-plugin-repackaging-web/frontend/src/components/MarketplaceBrowser.jsx
  dify-plugin-repackaging-web/frontend/src/components/MarketplaceBrowser.tsx
Due: none

feat(ui): enhance log icons and improve processing panel positioning
  dify-plugin-repackaging-web/frontend/src/components/LogViewer.tsx
  dify-plugin-repackaging-web/frontend/src/components/ProcessingPanel.tsx
Due: none

fix(backend): resolve file upload error and marketplace search issues
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/tasks.py
  dify-plugin-repackaging-web/backend/app/services/marketplace.py
  dify-plugin-repackaging-web/backend/requirements.txt
Due: python-quick-tests

feat(security): add non-root user, security headers, rate limiting, and checksum verification
  .env.example
  .gitignore
  SECURITY_FIXES_SUMMARY.md
  SECURITY_FIX_COMMAND_INJECTION.md
  SECURITY_SETUP.md
  SHA256SUMS
  dify-plugin-repackaging-web/Dockerfile.all-in-one
  dify-plugin-repackaging-web/SECURITY.md
  dify-plugin-repackaging-web/SECURITY_CHANGES.md
  dify-plugin-repackaging-web/SECURITY_QUICKSTART.md
  dify-plugin-repackaging-web/backend/app/api/websocket.py
  dify-plugin-repackaging-web/backend/app/core/config.py
  dify-plugin-repackaging-web/backend/app/services/repackage.py
  dify-plugin-repackaging-web/backend/app/workers/celery_app.py
  dify-plugin-repackaging-web/backend/tests/unit/services/test_repackage.py
  dify-plugin-repackaging-web/docker-compose.coolify-aio.yml
  dify-plugin-repackaging-web/docker-compose.prod.yml
  dify-plugin-repackaging-web/docker-compose.yml
  dify-plugin-repackaging-web/start.sh
  dify-plugin-repackaging-web/verify-security.sh
  plugin_repackaging.sh
Due: python-quick-tests

chore(deps): update dependencies and fix md5 usage in marketplace scraper
  dify-plugin-repackaging-web/backend/app/services/marketplace_scraper.py
  dify-plugin-repackaging-web/backend/requirements-test.txt
  dify-plugin-repackaging-web/backend/requirements.txt
  dify-plugin-repackaging-web/frontend/package-lock.json
  dify-plugin-repackaging-web/frontend/package.json
Due: python-quick-tests

fix(auth): add password-based authentication with rate limiting
  CLAUDE.md
  COOLIFY_DEPLOYMENT.md
  SECURITY_AUDIT_README.md
  SECURITY_DEPLOYMENT_CHECKLIST.md
  SECURITY_FIXES_REFERENCE.py
  data_flow_diagram.txt
  dify-plugin-repackaging-web/.env.example
  dify-plugin-repackaging-web/AUTHENTICATION.md
  dify-plugin-repackaging-web/AUTHENTICATION_SUMMARY.md
  dify-plugin-repackaging-web/IMPLEMENTATION_CHECKLIST.md
  dify-plugin-repackaging-web/README.md
  dify-plugin-repackaging-web/SECURITY_IMPLEMENTATION.md
  dify-plugin-repackaging-web/backend/.env.test
  dify-plugin-repackaging-web/backend/API_DOCUMENTATION.md
  dify-plugin-repackaging-web/backend/app/core/config.py
  dify-plugin-repackaging-web/backend/app/core/security.py
  dify-plugin-repackaging-web/backend/app/main.py
  dify-plugin-repackaging-web/backend/requirements-test.txt
  dify-plugin-repackaging-web/backend/test_auth.py
  dify-plugin-repackaging-web/docker-compose.coolify-aio.yml
  dify-plugin-repackaging-web/docker-compose.coolify-simple.yml
  dify-plugin-repackaging-web/docker-compose.coolify-v2.yml
  dify-plugin-repackaging-web/docker-compose.coolify.yml
  dify-plugin-repackaging-web/docker-compose.prod.yml
  dify-plugin-repackaging-web/docker-compose.yml
  dify-plugin-repackaging-web/frontend/src/App.jsx
  dify-plugin-repackaging-web/frontend/src/components/Layout.tsx
  dify-plugin-repackaging-web/frontend/src/components/LoginForm.tsx
  dify-plugin-repackaging-web/frontend/src/contexts/AuthContext.tsx
  dify-plugin-repackaging-web/frontend/src/services/utils/axiosDefaults.ts
  docker-compose.test.yml
  executive_summary.md
  remediation_checklist.md
  security_analysis_report.md
Due: python-quick-tests

fix(security): prevent critical command injection vulnerabilities (CVSS 9.8)
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/tasks.py
  dify-plugin-repackaging-web/backend/app/models/task.py
  dify-plugin-repackaging-web/backend/tests/test_security_validation.py
  plugin_repackaging.sh
Due: python-quick-tests

chore: remove auto-generated documentation files
  SECURITY_AUDIT_README.md
  SECURITY_DEPLOYMENT_CHECKLIST.md
  SECURITY_FIXES_REFERENCE.py
  data_flow_diagram.txt
  dify-plugin-repackaging-web/AUTHENTICATION.md
  dify-plugin-repackaging-web/AUTHENTICATION_SUMMARY.md
  dify-plugin-repackaging-web/IMPLEMENTATION_CHECKLIST.md
  dify-plugin-repackaging-web/SECURITY_IMPLEMENTATION.md
  executive_summary.md
  remediation_checklist.md
  security_analysis_report.md
Due: none

fix(auth): resolve login form issues (React #310 and browser popup)
  dify-plugin-repackaging-web/backend/app/core/security.py
  dify-plugin-repackaging-web/frontend/src/contexts/AuthContext.tsx
  dify-plugin-repackaging-web/frontend/src/services/utils/axiosDefaults.ts
Due: python-quick-tests

fix(auth): resolve authentication rate limiting causing false 429 errors
  dify-plugin-repackaging-web/backend/app/core/config.py
  dify-plugin-repackaging-web/backend/app/core/security.py
  dify-plugin-repackaging-web/frontend/src/services/api.js
  dify-plugin-repackaging-web/frontend/src/services/marketplace.ts
Due: python-quick-tests

chore(frontend): add TypeScript config and update package dependencies
  dify-plugin-repackaging-web/backend/coverage.xml
  dify-plugin-repackaging-web/frontend/package-lock.json
  dify-plugin-repackaging-web/frontend/package.json
  dify-plugin-repackaging-web/frontend/tsconfig.json
  dify-plugin-repackaging-web/frontend/tsconfig.node.json
Due: none

feat(auth): add auth token handling and 401 interception to axios retry
  dify-plugin-repackaging-web/frontend/src/main.jsx
  dify-plugin-repackaging-web/frontend/src/services/files.ts
  dify-plugin-repackaging-web/frontend/src/services/marketplace.ts
  dify-plugin-repackaging-web/frontend/src/services/utils/retry.ts
Due: none

feat(setup): add Terragon master setup script to automate component installs
  terragon-setup.sh
Due: none

feat(security): implement multiple security improvements and vulnerability fixes
  Dockerfile
  dify-plugin-repackaging-web/Dockerfile.all-in-one
  dify-plugin-repackaging-web/backend/app/api/endpoints.py
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/tasks.py
  dify-plugin-repackaging-web/backend/app/api/websocket.py
  dify-plugin-repackaging-web/backend/app/core/config.py
  dify-plugin-repackaging-web/backend/app/core/security.py
  dify-plugin-repackaging-web/backend/app/main.py
  dify-plugin-repackaging-web/backend/app/services/download.py
  dify-plugin-repackaging-web/backend/app/services/file_manager.py
  dify-plugin-repackaging-web/backend/scripts/plugin_repackaging.sh
  dify-plugin-repackaging-web/docker-compose.yml
  dify-plugin-repackaging-web/frontend/nginx.conf
  dify-plugin-repackaging-web/nginx/nginx.conf.template
  dify-plugin-repackaging-web/start.sh
  plugin_repackaging.sh
Due: python-quick-tests

fix(api): sanitize error messages returned to clients
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/tasks.py
  dify-plugin-repackaging-web/backend/app/core/middleware.py
Due: python-quick-tests

fix(setup): inline setup logic into terragon-setup.sh
  terragon-setup.sh
Due: none

refactor(api,backend): restructure backend APIs, improve security, and cleanup frontend
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci-cd.yml
  .github/workflows/integration-tests.yml
  .gitignore
  Dockerfile
  README.md
  dify-plugin-repackaging-web/Dockerfile.all-in-one
  dify-plugin-repackaging-web/backend/app/api/endpoints.py
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/files.py
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/marketplace.py
  dify-plugin-repackaging-web/backend/app/api/v1/endpoints/tasks.py
  dify-plugin-repackaging-web/backend/app/api/websocket.py
  dify-plugin-repackaging-web/backend/app/core/config.py
  dify-plugin-repackaging-web/backend/app/core/middleware.py
  dify-plugin-repackaging-web/backend/app/core/security.py
  dify-plugin-repackaging-web/backend/app/core/websocket_manager.py
  dify-plugin-repackaging-web/backend/app/main.py
  dify-plugin-repackaging-web/backend/app/services/file_manager.py
  dify-plugin-repackaging-web/backend/app/workers/celery_app.py
  dify-plugin-repackaging-web/backend/requirements.txt
  dify-plugin-repackaging-web/backend/scripts/dify-plugin-linux-arm64-5g
  dify-plugin-repackaging-web/backend/tests/unit/api/v1/endpoints/test_tasks.py
  dify-plugin-repackaging-web/backend/tests/unit/api/v1/endpoints/test_tasks_coverage.py
  dify-plugin-repackaging-web/backend/tests/unit/services/test_file_manager_simple.py
  dify-plugin-repackaging-web/docker-compose.coolify-aio.yml
  dify-plugin-repackaging-web/docker-compose.coolify-simple.yml
  dify-plugin-repackaging-web/docker-compose.yml
  dify-plugin-repackaging-web/frontend/nginx.conf
  dify-plugin-repackaging-web/frontend/src/components/Layout.jsx
  dify-plugin-repackaging-web/frontend/src/components/PluginCard.jsx
  dify-plugin-repackaging-web/frontend/src/components/TaskStatus.jsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/TaskStatus.test.tsx
  dify-plugin-repackaging-web/nginx/nginx.coolify.conf
  dify-plugin-repackaging-web/run-e2e-tests-mock.sh
  dify-plugin-repackaging-web/run-e2e-tests.sh
  process_marketplace_plugins.sh
  run_integration_tests.sh
Due: python-quick-tests, validate-github-workflows

chore: update superpowers, anthropic skills and eliteteams path
  .claude/agents/code-reviewer.md
  .claude/commands/brainstorm.md
  .claude/commands/execute-plan.md
  .claude/commands/write-plan.md
  .claude/skills/brainstorming/SKILL.md
  .claude/skills/brainstorming/scripts/frame-template.html
  .claude/skills/brainstorming/scripts/helper.js
  .claude/skills/brainstorming/scripts/server.cjs
  .claude/skills/brainstorming/scripts/start-server.sh
  .claude/skills/brainstorming/scripts/stop-server.sh
  .claude/skills/brainstorming/spec-document-reviewer-prompt.md
  .claude/skills/brainstorming/visual-companion.md
  .claude/skills/dispatching-parallel-agents/SKILL.md
  .claude/skills/executing-plans/SKILL.md
  .claude/skills/requesting-code-review/SKILL.md
  .claude/skills/subagent-driven-development/SKILL.md
  .claude/skills/subagent-driven-development/code-quality-reviewer-prompt.md
  .claude/skills/subagent-driven-development/implementer-prompt.md
  .claude/skills/using-git-worktrees/SKILL.md
  .claude/skills/using-superpowers/SKILL.md
  .claude/skills/using-superpowers/references/codex-tools.md
  .claude/skills/using-superpowers/references/copilot-tools.md
  .claude/skills/using-superpowers/references/gemini-tools.md
  .claude/skills/writing-plans/SKILL.md
  .claude/skills/writing-plans/plan-document-reviewer-prompt.md
  .claude/skills/writing-skills/SKILL.md
  .claude/skills/writing-skills/anthropic-best-practices.md
  .claude/skills/writing-skills/testing-skills-with-subagents.md
Due: none

chore: add Azure OpenAI marketplace package
  plugin_from_marketplace/langgenius-azure_openai_0.0.28.difypkg
Due: none

fix(deploy): reproducible frontend build + repair broken test syntax
  dify-plugin-repackaging-web/Dockerfile.all-in-one
  dify-plugin-repackaging-web/frontend/src/components/__tests__/TaskStatus.test.tsx
Due: none

fix(backend): retencja plików nigdy nie kasowała + obejście allowlisty pobierania
  dify-plugin-repackaging-web/backend/app/services/download.py
  dify-plugin-repackaging-web/backend/app/services/file_manager.py
Due: python-quick-tests

test(backend): dostosuj test_tasks_simple do rzeczywistego API modeli
  dify-plugin-repackaging-web/backend/tests/unit/api/v1/endpoints/test_tasks_simple.py
Due: none

fix(backend): normalizuj wersję z <select> w scraperze marketplace
  dify-plugin-repackaging-web/backend/app/services/marketplace_scraper.py
Due: python-quick-tests

fix(backend): fallback scrapera nie uruchamiał się dla odpowiedzi HTML
  dify-plugin-repackaging-web/backend/app/services/marketplace.py
Due: python-quick-tests

fix: stabilize task updates and authenticated downloads
  dify-plugin-repackaging-web/frontend/src/components/CompletedFiles.tsx
  dify-plugin-repackaging-web/frontend/src/components/TaskStatus.tsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/TaskStatus.connection.test.tsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/TaskStatus.test.tsx
  dify-plugin-repackaging-web/frontend/src/services/__tests__/api.download.test.ts
  dify-plugin-repackaging-web/frontend/src/services/__tests__/websocket.reconnect.test.ts
  dify-plugin-repackaging-web/frontend/src/services/api.js
  dify-plugin-repackaging-web/frontend/src/services/websocket.ts
Due: none

fix(ui): close completed task panel
  dify-plugin-repackaging-web/frontend/src/App.jsx
  dify-plugin-repackaging-web/frontend/src/components/ProcessingPanel.tsx
  dify-plugin-repackaging-web/frontend/src/components/TaskStatus.tsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/ProcessingPanel.test.tsx
Due: none

fix(backend/frontend): handle repackaging output and keep UI state in sync
  dify-plugin-repackaging-web/backend/app/services/repackage.py
  dify-plugin-repackaging-web/backend/tests/unit/services/test_repackage_output.py
  dify-plugin-repackaging-web/frontend/src/App.jsx
  dify-plugin-repackaging-web/frontend/src/__tests__/App.auth.test.tsx
  dify-plugin-repackaging-web/frontend/src/components/ProcessingPanel.tsx
  dify-plugin-repackaging-web/frontend/src/components/Sidebar.tsx
  dify-plugin-repackaging-web/frontend/src/components/TaskStatus.tsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/ProcessingPanel.test.tsx
  dify-plugin-repackaging-web/frontend/src/components/__tests__/Sidebar.test.tsx
Due: python-quick-tests

Path conditions:
  python-quick-tests: any of: ^dify-plugin-repackaging-web/backend/app/ and \.py$ and not ((?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  coverage/.*|
  \.coverage|
  .*\.log|
  temp/.*|
  tmp/.*
)$
)
  validate-github-workflows: any of: ^\.github/workflows/, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/.*|
  venv/.*|
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  .*\.pyc|
  .*\.pyo|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  htmlcov/.*|
  coverage/.*|
  \.coverage|
  .*\.log|
  temp/.*|
  tmp/.*
)$

